<!--
 Web Technology WS21

 Footer for all the pages 

 Authors: Simone Franza  01530693
          Edmond Hasanaj 11906810
-->
<div id="footer-container" onmouseenter="toggleFooter">
  <img onclick="location.href='/index.html';" id="footer-logo"
    src="/assets/logo_white.svg"
    alt="Owl over the heap"/>
  <p id="copyright">&copy; 2022, S. Franza, E. Hasanaj</p>
  <p class='footer-p' onclick="location.href='/about.html';">About</p>
</div>
<div id="footer-svg" >
  <svg id="footer-inner-svg" class="test" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 100 7">
    <g transform="matrix(1,0,0,1,0.0208333,-64.3544)">
      <g transform="matrix(1,0,0,-1,0,72)">
        <path id="footer-path" d="M0,0L0,3.476
        C0,3.476 25,3.476 25,3.476 
        C25,3.476 75,3.476 75,3.476
        C75,3.476 100,3.476 100,3.476
        L100,0L0,0"/>
      </g>
    </g>
  </svg>
</div>
