<!--
 Web Technology WS21

 404 page

 Authors: Simone Franza  01530693
          Edmond Hasanaj 11906810
-->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./style/fof.css">
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <div id="fof-body">
      <p id="error-number">404</p>
      <p id="error-message">There is no wisdom to be found on this page, try looking somewhere else!</p>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/scripts'); %>
  </body>
</html>
