:root {
  --darkest: hsl(212, 100%, 25%);
  --darker: hsl(271, 43%, 55%);
  --lighter: hsl(230, 100%, 90%);
  --grey: #f5f5f7;
  --error: #ff9c8a;;
}

header {
  -moz-user-select: none;
  user-select: none;
  width:100%;
  height:8em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

#header-svg {
  height: 100%;
  width: 100%;
  fill: var(--darker);
}

#inner-svg path{
  -webkit-transition: d .5s ease-in-out;
  -moz-transition:    d .5s ease-in-out;
  -o-transition:      d .5s ease-in-out;
  transition:         d .5s ease-in-out;
}

#header-logo{
  height: 70%;
  position: relative;
  margin-right: 2em;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition:    opacity .1s ease-in-out;
  -o-transition:      opacity .1s ease-in-out;
  transition:         opacity .1s ease-in-out;
}

#header-logo-text {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: top .5s ease-in-out;
  -moz-transition:    top .5s ease-in-out;
  -o-transition:      top .5s ease-in-out;
  transition:         top .5s ease-in-out;
}

#header-left {
  display:flex;
  align-items: center;
  justify-content: flex-start; 
  flex-grow: 5;
  height: 80%;
  margin-inline: 1.5em;
}
#header-text{
  height: 100%;
  max-height: 100px;
  width: 40%;
  display:flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}
#header-center{
  display:flex;
  align-items: center;
  justify-content: flex-start; 
  flex-wrap: nowrap;
  flex-grow: 4;
  height: 85%;
  margin-inline: 1.5em;
  position: relative;
  top: 0;
  -webkit-transition: top .5s ease-in-out;
  -moz-transition:    top .5s ease-in-out;
  -o-transition:      top .5s ease-in-out;
  transition:         top .5s ease-in-out;
  padding-left: 10%;
}

.clickable {
  cursor: pointer;
}

.header-p, .header-p-light{
  font-weight: bold;
  text-align: center;
  margin-inline: 1.5em;
  position: relative;
}

.header-p {
  color: var(--darker);
}

.header-p-light {
  color: white;
}

.header-p::after, .header-p-light::after {
  content: '';
  position: absolute;
  width: 0;
  border-radius: 1em;
  display: block;
  bottom: -.3em;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.logout-button{ 
  position: absolute;
  width: 100%;
  display: block;
  bottom: -1.6em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}
.logout-container:hover .logout-button, .logout-button:hover{ 
  opacity: 1;
  visibility: initial;
}

.header-p::after {
  border: 0em solid var(--darker);
}
.header-p-light::after {
  border: 0em solid white;
}

.header-p:hover::after, .header-p-light:hover::after,
.logout-container:hover .header-p::after, .logout-container:hover .header-p-light::after {
  width: 100%;
}

.header-p:hover::after, .logout-container:hover .header-p::after{
  border: .05em solid var(--darker);
  background-color: var(--darker);
}
.header-p-light:hover::after, .logout-container:hover .header-p-light::after{
  border: .05em solid white;
  background-color: white;
}

#search-content{
  border: 0;
  padding:.5em;
  font-size: 1em;
  color: var(--darker);
  width: calc(100% - 3em);
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
}
#search-content:focus-visible{
  outline: 0;
}

#header-right{
  flex-grow: 3.5;
}

#wisdom {
  margin: 0em;
  font-size: .7em;
  width: 80%;
  color: white;
  text-align: center;
  float: left;
}

.fluid-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  position: absolute;
}

.search-bar {
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 5em;
}

.search-icon{
  background-color: var(--darker);
  position:absolute;
  right: .5em;
  top: 0em;
  height:100%;
  cursor:pointer;

  width: 1.5em;
  -webkit-mask: url(../assets/search.svg) no-repeat center;
  mask: url(../assets/search.svg) no-repeat center;
}
